{{> main-nav other='1'}}
<div class="hyphenate">

  <main>

    <section id="personal">

      <article>
        <div class="wrap">

          <p class="intro">
            My full name is Conrado Patricio Goze Ambrosio, I usually go by Pat. I currently reside in Makati, Metro Manila, Philippines.
          </p>

          <h4>Interests</h4>
          <p>
            <b>Reading.</b> I like to read a mixture of longform journalism, design, and technology opinion pieces. Notable sources are Longform.org, A List Apart, M.G. Siegler, Paul Graham.
          </p>
          <p>
            <b>Typography.</b> Less about font faces, and more about practical and good application. Influenced by <a href="http://practicaltypography.com/">Matthew Butterick</a>, and Jason Santa Maria.
          </p>
          <p>
            <b>Design.</b> I tend to look at design as an experience aside from a visual construct, I draw influence and inspiration from <a href="https://ia.net/">IA.net</a> and <a href="http://99percentinvisible.org/">99% Invisible</a>.
          </p>
          <p>
            <b>Photography.</b> Appreciation and practical application. I learned from shooting with film <a href="https://lilii.co/aardvark/missing-my-yashica-mat-124">using a Twin Lens Reflex</a> camera.
          </p>
          <p>
            <b>Writing.</b> It is something I think I can be passionate in and want to learn more about.
          </p>

        </div>
      </article>


  </main>
</div>
