<!DOCTYPE>
<html lang="en">
  <head>
    <title>Pat Ambrosio</title>

    <base href="/cv/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Neuton:400,300,400italic,700,200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>

    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="/assets/css/nostrap.css">
    <link rel="stylesheet" href="/assets/bower/chartist/dist/chartist.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- endbuild -->

    <!-- build:js js/main.js -->
    <script src="/assets/bower/chartist/dist/chartist.js"></script>
    <script src="/assets/bower/Hyphenator/Hyphenator.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
      Hyphenator.run();
    </script>
  </head>
  <body>

    {{> body}}

    <footer>
    </footer>
  </body>
</html>
