<!DOCTYPE>
<html lang="en">
  <head>
    <title>Pat Ambrosio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Neuton:400,300,400italic,700,200' rel='stylesheet' type='text/css'>

    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="/assets/css/nostrap.css">
    <link rel="stylesheet" href="/assets/bower/chartist/dist/chartist.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- endbuild -->

    <!-- build:js js/main.js -->
    <script src="/assets/bower/chartist/dist/chartist.js"></script>
    <script src="/assets/bower/Hyphenator/Hyphenator.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
      Hyphenator.run();
    </script>
  </head>
  <body class="hyphenate">

    <header class="main">
      <div class="wrap">
        <h1>Pat Ambrosio</h1>
        <h2>Conrado Patricio Ambrosio</h2>

        <nav>
          <ul>
            <li><a href="/">&#8962;</a></li>
            <li><a href="/frontend/">Front End</a></li>
            <li><a href="/backend/">Back End</a></li>
            <li><a href="#sysad">Sys Ad</a></li>
            <li><a href="#uiux">UI/UX</a></li>
            <li><a href="#management">Management</a></li>
            <li><a href="#?">?</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {{> body}}

    <footer>
      <div class="wrap">
        <nav>
          <ul>
            <li><a href="#career">Career</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#personal">Personal</a></li>
            <li><a href="#interests">Interests</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
