---
layout: skills.hbs
---
{{> skills-nav skills='1' backend='1'}}

<div class="hyphenate">

  <main>

    <section id="landing">

      <article>
        <div class="with-chart">
          <div class="text">
            <h3>Back End</h3>
            <p>The ranking is based on my experience/preference in practical use, the rating is higher for tech where I am more confident in using and where I feel I have applied well.</p>
          </div>
          <div class="chart ct-backend ct-golden-section"></div>
        </div>

        <div class="wrap approach">
          <h5>Approach</h5>
          <p>A combination of <a href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself">DRY</a> and <a href="https://en.wikipedia.org/wiki/KISS_principle">KISS</a> best describes it albeit loosely, even though these terms are overused. I apply this not only in code management, but also in the business-logic level.</p>
          <p>Meanwhile, Modularity is relative, it grows with code footprint. The larger and mature the project grows, the more normalized my code modularity becomes. I oftentimes avoid writing modular code that won't be used more than once to maximize code brevity.</p>
          <p>I am interested in Test Driven Development, and with Mocha and Should.js, I'm looking forward to using them in the future.
          </p>
        </div>

        <div class="wrap experience">
          <h4>Experience</h4>

          <div class="experience-item">
            <h5>Quart</h5>
            <p>A hosted markdown blogging platform and web-based text editor.</p>
            <p>A single-page-application, the backend uses Express and a REST interface to push data models into the Front End. Data persistence and sessions uses MongoDB through Mongoose.</p>
            <img src="http://placehold.it/970x200" alt="">
            <p><b>Status: Shelved</b>, the user base was small (80), and the cost to sustain was too much for a free app. I decided to make a similar service that was much more sustainable.</p>
          </div>

          <div class="experience-item">
            <h5>Brook</h5>
            <p>Brook is a linkboard heavily inspired by Hacker News and the Subreditting format. This is a practice in code brevity.</p>
            <p>Uses Express and a REST interface to serve pages and receive user input. Pages are rendered using Handlebars. Passport for user authentication. Scheduled jobs uses Agenda to rank/re-rank posts on an interval. Post ranking is computed using a custom algorithm based upon previous observations on Hacker News. Re-ranking is done on every update or interval until it falls out of specified relevancy.</p>
            <img src="http://placehold.it/970x200" alt="">
            <p><b>Status: Active</b>, this is an open source project, the codebase can be found <a href="https://github.com/hmngwy/brook">here</a>.</p>
          </div>

          <div class="experience-item">
            <h5>Lilii</h5>
            <p>A convention-based markdown blogging platform that is managed through Dropbox. </p>
            <p>A fully invisible service, the backend uses OAuth, and a REST client to communicate with Dropbox to receive user input, and push initial data. Pages are rendered using Handlebars. MongoDB through Mongoose is used for data persistence, and agressive page caching is done with Redis. The user input is rendered with a custom Markdown syntax using a library, as well as a basic YAML parser for user configuration. </p>
            <img src="http://placehold.it/970x200" alt="">
            <p></p>
          </div>



          <div class="experience-item">
            <h5>Others</h5>
            <p><a href="http://www.toppik.com/">Toppik</a> is an E-Commerce retail site that runs on Magento, I wrote the custom extension that pushes backend data on an interval, and into their warehouse's POS and Order Fulfillment system.</p>
          </div>
        </div>

      </article>
      <script>
      new Chartist.Bar('.ct-backend', {
        labels: [
          'JS, PHP 5, Python',
          'Express, Django',
          'Mongo, MySQL, GQL',
          'Redis, Memcache',
        ],
        series: [
          [90, 80, 80, 60],
          [70, 40, 60, 40],
          [40, 0, 30, 0]
        ]
      }, {
        seriesBarDistance: 10,
        axisX: {
          offset: 60
        },
        axisY: {
          offset: 0,
          labelInterpolationFnc: function(value) {
            return '';
          },
          scaleMinSpace: 15
        }
      }, [
        ['screen and (min-width: 450px)', {
          chartPadding: 40
        }],
        ['screen and (min-width: 1024px)', {
          chartPadding: 40,
          labelOffset: 60,
        }]
      ]);
      </script>

    </section> <!-- skills -->


  </main>
</div>
