---
layout: skills.hbs
---
{{> skills-nav skills='1' frontend='1'}}

<div class="hyphenate">

  <main>

    <section id="landing">

      <article>
        <div class="with-chart">
          <div class="text">
            <h3>Front End</h3>
            <p>These are based on my confidence/proficiency in practical use, basically the rating is higher in tech where I struggle less.</p>
            <h5>Approach</h5>
            <p>I prioritize scalability, and leaner solutions. Tooling and build scripts optimize code prior to deployment or release. If applicable, I write code to be completely agnostic, such that we can iterate on the UI without having to re-deploy the Back End.</p>
          </div>
          <div class="chart ct-frontend ct-golden-section"></div>
        </div>

        <div class="wrap experience">
          <h4>Experience</h4>

          <div class="experience-item">
            <h5>ATM Interface (E-Pass)</h5>
            <p>An in-person machine that takes cash and stores credit for prepaid highway toll fees. The interface runs on Webkit, the reason being the client wants to be able to update the system remotely without technicians on the field.</p>
            <p>There are about a handful of unique views, and the user interaction is simple (touch, single-tap only) because of the hardware limitations. I used <u>plain JavaScript</u> and <u>CSS animations</u> triggered by attributes. </p>

            <img src="http://placehold.it/970x200" alt="">

            <p><b>Status: Active</b>, servicing a percentage of 75k users. This interface is in place in all of the client's ATMs.</p>
          </div>

          <div class="experience-item">
            <h5>Quart</h5>
            <p>A hosted markdown blogging platform and web-based text editor.</p>
            <p>I used <u>Backbone Routers, Views, and Models</u> here. The text editor is a personally extended <u>Ace Editor</u>. The parts of speech highlighting and writing assistant is coded in by hand, tagging aided by a <a href="https://github.com/singingfish/jspos">POS library</a>. Templating is powered by <u>Underscore</u>.</p>
            <img src="http://placehold.it/970x200" alt="">
            <p><b>Status: Shelved</b>, the user base was small (80), and the cost to sustain was too much for a free app. I decided to make a similar service that was much more sustainable.</p>
          </div>

          <div class="experience-item">
            <h5>Lilii</h5>
            <p>A convention-based markdown blogging platform that is managed through Dropbox. Created as a more sustainable free service alternative to Quart, costing $0.18 per month at most on AWS.</p>
            <p>The blog layout uses <u>plain JavaScript</u> for pagination and Typographic progressive enhancements, <u>Hyphenator</u> for smart hyphenation, <u>Zepto</u> for block-level commenting.</p>
            <img src="http://placehold.it/970x200" alt="">
            <p></p>
          </div>

          <div class="experience-item">
            <h5>Brook</h5>
            <p>Brook is a linkboard heavily inspired by Hacker News and the Subreditting format. This is a practice in code brevity.</p>
            <p>The platform is designed to respond to requests in under 500ms, as well as to scale fast on a single core. All modern libraries are dumped for <u>plain JavaScript</u> and <u>CSS</u>. It uses simple non-conventional solutions for communication to reduce code footprint.</p>
            <img src="http://placehold.it/970x200" alt="">
            <p><b>Status: Active</b>, this is an open source project, the codebase can be found <a href="https://github.com/hmngwy/brook">here</a>.</p>
          </div>


          <div class="experience-item">
            <h5>Fly One Fly All / Cebu Pacific Air</h5>
            <p>Is an online contest for a local Airline (Cebu Pacific Air) that gives participants an opportunity at a free domestic round-trip with 149 of their Facebook friends.</p>
            <p>The interface is developed with plain HTML and CSS, communications and data model is handled by Backbone, DOM manipulation through jQuery. It is iFramed as a Facebook App.</p>
            <img src="http://placehold.it/970x200" alt="">
            <p><b>Status: Inactive</b>, the promotion has run its course, press info is <a href="https://www.cebupacificair.com/about-us/pages/news.aspx?id=341%22%22">still available here</a>.</p>
          </div>



          <div class="experience-item">
            <h5>Others</h5>
            <p><a href="http://www.toppik.com/">Toppik</a> is an E-Commerce retail site that runs on Magento, it uses Bootstrap for the responsive Grid Layout, and jQuery for the custom UI elements.</p>
          </div>
        </div>



      </article>
      <script>
      new Chartist.Bar('.ct-frontend', {
        labels: [
          'HTML5, XML, Schema',
          'CSS, LESS, SASS',
          'JS, Backbone, Angular',
          'Bower, Grunt, Assemble'
        ],
        series: [
          [90, 85, 80, 90],
          [80, 70, 65, 85],
          [50, 45, 20, 40]
        ]
      }, {
        seriesBarDistance: 10,
        axisX: {
          offset: 60
        },
        axisY: {
          offset: 0,
          labelInterpolationFnc: function(value) {
            return '';
          },
          scaleMinSpace: 15
        }
      }, [
        ['screen and (min-width: 450px)', {
          chartPadding: 20
        }],
        ['screen and (min-width: 1024px)', {
          chartPadding: 40,
        }]
      ]);
      </script>

    </section> <!-- skills -->


  </main>
</div>
