---
layout: skills.hbs
---
{{> skills-nav skills='1' management='1'}}

<div class="hyphenate">

  <main>

    <section id="landing">

      <article>
        <div class="with-chart">
          <div class="text">
            <h3>Management and Leadership</h3>
            <p>Familiar with Waterfall, Agile, and Lean. But also aware that these models should not be employed blindly, and instead be modified to adapt to an office's culture and workflow, augmenting its capabilities while being as minimally invasive as possible.</p>
            <p>I acknowledge that good communication makes susccessful teams. My range of skills allow me to communicate well between technical and non-technical staff, as well as presenting cases to stakeholders in a manner they can participate in.</p>
            <p>I believe my experience will speak more of my Management skills. Please see below.</p>

          </div>
          <div class="chart ct-mgt ct-golden-section"></div>
        </div>

        <div class="wrap">
          <div class="management experience">
            <h4>Experience</h4>

            <h5>SEOP Asia, Inc.</h5>

            <p>
              Hired as a programmer in a Web Development firm, I stood out and gained a Management role, I promptly worked on maximizing the team output and delivery times on my own initiative. The team started off with the following environment:
            </p>

            <ul>
              <li>8 Developers in non-specializing roles</li>
              <li>Basic workload distribution through Email</li>
              <li>No source code control</li>
              <li>No engineering process</li>
              <li>No project management and tracking</li>
              <li>Delivering approx. 10 projects per month</li>
            </ul>

            <p>
              I fully transitioned this team and workflow in the course of a year to the following:
            </p>

            <ul>
              <li>25 Developers</li>
              <li>Specialized subteams and roles</li>
              <li>Workload distribution through Project Management software: ActiveCollab
                <ul>
                  <li>Transitioning both Developers and Stakeholders into the system</li>
                  <li>Making both Developers and Stakeholders accountable for their corresponding deliverables</li>
                </ul>
              </li>
              <li>Employed SubVersion (SVN) source code control for Developer accountability and deployment</li>
              <li>A modified Waterfall approach, where a subteam is responsible for delivery in each step</li>
              <li>Custom tracking software that uses data from ActiveCollab and SVN for Stakeholders to see where a project is in the Waterfall</li>
              <li>Custom notification software to keep stakeholders and parties updated with their project's progress</li>
              <li>At the peak of implementation, we are delivering around 50 projects per month</li>
            </ul>

            <p>We've achieved at least 200% increase in output. All while still delivering on existing business. The department continued to use and improve on the workflow for the next three years.</p>

            <h6>Other Responsibilities Include:</h6>

            <ul>
              <li>Hiring / Screening Talent</li>
              <li>Presence in Sales meetings for technical insight</li>
              <li>Workload distribution</li>
              <li>System and Interface design for custom software</li>
            </ul>
          </div>
        </div>
      </article>
      <script>
      var data = {
        labels: ['Technical', 'Engineering', 'Workload'],
        series: [45, 35, 20]
      };

      var options = {
        labelInterpolationFnc: function(value) {
          return value[0]
        },
        donut: true
      };

      var responsiveOptions = [
        ['screen and (min-width: 450px)', {
          chartPadding: 40,
          labelOffset: 50,
          labelDirection: 'explode',
          labelInterpolationFnc: function(value) {
            return value;
          }
        }],
        ['screen and (min-width: 1024px)', {
          chartPadding: 40,
          labelOffset: 60,
        }]
      ];

      new Chartist.Pie('.ct-mgt', data, options, responsiveOptions);
      </script>

    </section> <!-- skills -->


  </main>
</div>
